<!--
sub template for rendering simple game info
 -->

<table class="table table-hover">
     <tr>
         <td width="70px">
             <a href="{{ url_for('main.user', username=game.user.username) }}">
                 <img src="{{ game.user.avatar(70) }}" />
             </a>
         </td>
         <td>
             {% set user_link %}
                <a href="{{ url_for('main.user', username=game.user.username) }}">
                    {{ game.user.username }}
                </a>
            {% endset %}
            {{ _('%(username)s had a recent efficiency of: ', username = user_link) }}
            {{ game.eff }}
            {{ game.primary }}
            {{ game.map }}
         </td>
     </tr>
 </table>
